/* Edition Mode upper bar */

#edition-mode {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    gap: 21px;
    padding: 10px;
}

.mode-edition-container {
    display: flex;
    gap: 9px;
    align-items: center;
}

.edition-mode-logo {
    color: white;
}

.edition-mode-item {
    color: black;
}

.mode-edition-title {
    color: #FFFFFF;
}

.change-publishing-button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
    background-color: white;
    padding: 11px 23px;
    cursor: pointer;
}




/* Modal / Overlay */

/* Overlay */

.overlay {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

/* Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 731px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

/* Modal 1 */

.modal-1-container {
    width: 420px;
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-1-title {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Work Sans';
    color: black;
    margin-top: 10px;
    margin-bottom: 46px;
}

.modal-1-logo-container {
    display: flex;
    width: 100%;
}

.modal-1-elements-container {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-management {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    margin-bottom: 47px;
}

.works-card2 img {
    flex-basis: 20%;
    height: 102px;
}

.separation-modal-1 {
    width: 100%;
    height: 1px;
    background-color: #B3B3B3;
    margin-bottom: 38px;
}

.adding-picture-button1 {
    background-color: #1D6154;
    height: 36px;
    width: 237px;
    border-radius: 60px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Syne';
    margin-bottom: 23px;
}

.galery-suppression {
    font-family: 'Syne';
    color: #D65353;
    font-size: 14px;
    font-weight: 400;
}

/* Modal-gallery-suppression */

.modifier-text {
    cursor: pointer;
}

.modal-galery-suppression {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 731px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.modal-galery-suppression-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 200px 105px;
}

.test-suppression {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.warning-suppression {
    font-family: 'Syne';
    color: #D65353;
    font-size: 16px;
    font-weight: 400;
}


.confirmation-button-galery-suppression {
    background-color: #1D6154;
    height: 36px;
    width: 237px;
    border-radius: 60px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Syne';
}
.annulation-button-galery-suppression {
    background-color: #D65353;
    height: 36px;
    width: 237px;
    border-radius: 60px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Syne';
}

/* Modal 2 */

.modal-2-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modal-2-elements-container {
    width: 420px;
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-2-title {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Work Sans';
    color: black;
    margin-top: 10px;
    margin-bottom: 36px;
}

.picture-emplacement {
    background-color: #E8F1F6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; 
    width: 100%;
}

.picture-modal-2 {
    color: #B9C5CC;
    font-size: 46px;
    margin-top: 28px;
    margin-bottom: 21px;
}

.adding-picture-button2 {
    background-color: #CBD6DC;
    color: #306685;
    font-size: 14px;
    font-size: 'Work Sans';
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 10px 33px;
    margin-bottom: 7px;
    width: 173px;
}

#picture-format-definition {
    margin-bottom : 19px;
    font-size: 10px;
    font-style: 'Work Sans';
    color: #444444;
}

.form-modal-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-modal-2 {
    font-size: 14px;
    font-weight: 500;
    font-style: 'Work Sans';
    color: #3D3D3D;
    margin-bottom: 10px;
}

.input-modal-2 {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    height: 51px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Work Sans';
    color: #444444;
    padding-left: 16px;
}

.title-input-modal-2 {
    margin-bottom: 21px;
}

.email-input-modal-2 {
    margin-bottom: 47px;
}

.separation-modal-2 {
    width: 100%;
    height: 1px;
    background-color: #B3B3B3;
    margin-bottom: 32px;
}

.validation-modal-2 {
    background-color: #A7A7A7;
    height: 36px;
    width: 237px;
    border-radius: 60px;
    border: none;
    font-style: 'Syne';
    font-weight: 700;
    color: white;
    font-size: 14px;
}

/* Portrait */

.portrait-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: 100%;
}

.modifier-logo-portrait {
    margin-left: 40px;
}

#login-logout-button {
    cursor: pointer;
}


/* Portfolio / Gallery */

#portfolio {
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.portfolio-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 31px;
    align-items: center;
    margin-bottom: 30px;
}

.modifier-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.modifier-text {
    font-size: 14px;
}

.gallery-filter {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-filter-button {
    color: #1D6154;
    font-size: 16px;
    font-family: 'Syne';
    font-weight: 700px;
    background-color: white;
    border-color: #1D6154;
    border-radius: 60px;
    border-width: 1px;
}

.gallery-filter-button1 {
    padding: 9px 30px;
}

.gallery-filter-button2 {
    padding: 9px;
}

.works-title {
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 7px;
}




